.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
chat
.dotnet
.git
.gitignore.swp
harelsite
harelsite_alum
.npm
pkt
send_mail
.ssh
.viminfo
.vscode-server
.wget-hsts
noam/logs/
shay/logs/
ido/logs/
