body {
    background-image: url('../media/background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 3em;
    text-align: center;   
}

h3 {
    font-size: 2em;
    text-align: center;
}

#download-zip {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#back-pointer {
    height: 5%;
    width: 5%;
}

p {
    font-size: 1.6em;
    text-align: center;
}

dialog {
    z-index: 10000;
}